<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfoilo</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body>
    <nav>
      <a id="home" href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
    <section id="main">
      <h1>Eddy Oo</h1>
      <p id="text"></p>
    </section>
    <footer>
      <div id="app"></div>
      <a href="">
        <i class="devicon-github-original"></i>
      </a>
      <a href="">
        <i class="devicon-linkedin-plain"></i>
      </a>
      <p>@2025 Eddy Oo</p>
    </footer>
    <script src="/public/script/index.js"></script>
  </body>
</html>